.all_vansdetails_page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3rem 1rem 3rem 1rem;
  gap: 2rem;

  & .edit_delete_reservation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .infos_vans {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid var(--brown);
    border-radius: 8px;

    & img {
      border-radius: 8px;
    }

    & p {
      margin: 0rem 0.5rem 0.5rem 0.5rem;
      color: var(--brown);
    }
  }
  & .reservation_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--light-brown);
    box-shadow: 0 0 0.5rem 0.2rem var(--brown);
    gap: 1rem;
    & form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & .edit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61.5%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--light-brown);
    box-shadow: 0 0 0.5rem 0.2rem var(--brown);
    gap: 1rem;
    & .delete-box {
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .all_vansdetails_page {
    margin: 5rem 2rem 5rem 2rem;
    align-items: center;

    & .infos_vans {
      min-width: 120vh;
      min-height: 120vh;

      & img {
        object-fit: cover;
        max-height: 44.128rem;
        max-width: 66.625rem;
      }
    }

    & .reservation_content {
      width: 100%;
      max-width: 66.625rem;
      padding: 2rem;
    }
  }
}
