.all_vansdetails_page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3rem 1rem 3rem 1rem;
  gap: 2rem;
  & .infos_vans {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border: 2px solid var(--brown);
    border-radius: 8px;

    & img {
      border-radius: 8px;
    }
  }
}

@media screen and (min-width: 768px) {
  .all_vansdetails_page {
    margin: 5rem 2rem 5rem 2rem;
    align-items: center;

    & .infos_vans {
      width: 120vh;
      height: 120vh;
    }
  }
}
