@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: black;
  --secondary: rgb(13, 211, 13);
  --tertiary: #d9e0d1;
  --brown: rgb(139, 35, 35);
  --light: #fff;
  --message-error: red;
  --edit-blue: #1976d2;
}

html,
body {
  font-family: Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: var(--primary);
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  min-height: 70vh;
}

.messageError {
  color: var(--message-error);
  font-size: smaller;
}

h1 {
  font-family: "Dancing Script", sans-serif;
  font-style: bold;
}

h2,
h3 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  color: var(--brown);
}

label {
  color: var(--brown);
  font-weight: bold;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline-color: var(--outline-color);
  outline-width: 2px;
  outline-offset: 2px;
}

.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.light-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  color: var(--secundary);
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-align: center;
  border: solid var(--brown) 1px;
  border-radius: 5px;
}

.colored-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background-color: var(--brown);
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
}

.delete-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--message-error);
  color: var(--primary);
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  border-color: var(--brown);
}

.edit-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--edit-blue);
  color: var(--primary);
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  border-color: var(--edit-blue);
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid var(--edit-blue);
  outline-offset: 4px;
}
