.van_card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;

  & .van_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 190px;
    height: 254px;
    border: 1px solid white;
    box-shadow: 0 0 0.5rem 0.2rem var(--brown);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 3rem 0 3rem 0;
    & h2 {
      position: absolute;
      object-fit: cover;
      margin: 0;
      top: 50%;
      height: 50%;
      color: var(--light);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }

    & img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-radius: 17px;
    }

    & .cancel-box,
    .light-box,
    .colored-box {
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }

  .van_card:hover {
    border: 1px solid var(--brown);
    transform: scale(1.05);
  }

  .van_card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
}
