.reserved_van_card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;

  & .reserved_van_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 10rem;
    border: 1px solid white;
    box-shadow: 0 0 0.5rem 0.2rem var(--brown);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    align-items: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 3rem 0 3rem 0;
    & h2 {
      color: var(--brown);
      margin-top: 1rem;
    }

    & img {
      display: block;
      width: 100%;
      max-height: 50vh;
      object-fit: cover;
      border-radius: 17px 17px 0 0;
      margin-bottom: 0.5rem;
    }
    .reservations_dates {
      margin: 2rem 0 2rem 0;
      & p {
        margin: 0rem 0.5rem 0.5rem 0.5rem;
        color: var(--brown);
        font-weight: bold;
      }
    }

    .buttons_card_reservation {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 0 0 2rem 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .reserved_van_card {
    & img {
      max-height: 80vh;
    }
  }
}
