.container_CI {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  & .title_CI {
    font-weight: 300;
    padding-bottom: 2rem;
    margin: 2rem 0 1rem 0;
  }

  & section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 50vw;
  }

  & .form_CI {
    border: 1px solid var(--tertiary);
    border-radius: 8px;
    padding: 0.6rem 1rem;
    height: 2rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    height: auto;
  }
  & .form_CI.logo {
    display: flex;
    margin: 0 0 2rem 0;
    place-self: center;
    width: 5rem;
    border: 1px solid var(--tertiary);
  }

  & .colored-box {
    margin: 1rem 0 1rem 0;
  }

  & input {
    border: none;
    padding: 0.8rem;
  }

  & .light-box {
    margin: 0 0 2rem 0;
  }

  & li {
    list-style: none;
    margin-bottom: 2rem;
  }

  & .scroll-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 3rem 0;
  }

  & .van_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .container_CI {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
