.all_home_page {
  display: flex;
  flex-direction: column;
  & .cards_scroll {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
    gap: 2rem;
    margin: 0 0 1rem 0;
    padding-left: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;

    & .cards_scroll::-webkit-scrollbar {
      height: 8px;
    }

    & .cards_scroll::-webkit-scrollbar-track {
      background: var(--light);
    }

    & .cards_scroll::-webkit-scrollbar-thumb {
      background: var(--brown);
      border-radius: 4px;
    }
  }
  & h1 {
    margin: 3rem 2rem 3rem 2rem;
    font-size: 1.5rem;
    color: var(--brown);
    font-weight: bold;
  }
  & .div_titles {
    margin: 0 0 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .all_home_page {
    & h1 {
      margin: 5rem 0 5rem 2rem;
      font-size: 1.5rem;
    }
    & .div_titles {
      margin: 0 0 0 2rem;
    }

    & .cards_scroll {
      margin: 0 2rem 7rem 1rem;
      padding: 0 1rem 0 1rem;
      gap: 6rem;
    }

    & .cards_scroll::-webkit-scrollbar {
      height: 8px;
    }

    & .cards_scroll::-webkit-scrollbar-track {
      background: var(--light);
    }

    & .cards_scroll::-webkit-scrollbar-thumb {
      background: var(--brown);
      border-radius: 4px;
    }
  }
}
