* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem 0 1rem;
  background-color: var(--secondary);
  & h1 {
    margin-right: 2rem;
  }
  & .logo_picture {
    cursor: pointer;
  }
  & .van_logo {
    width: 3.5rem;
    margin: 0.5rem;
    object-fit: contain;
  }
  & .burgerContainer {
    z-index: 2;
    display: flex;
  }
  & .burgerButton {
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1000;
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  & .burgerButton:hover {
    transform: scale(1.1);
  }

  & .close,
  .open {
    font-size: 2rem;
    z-index: 3;
    transform-origin: center;
  }

  & .close {
    color: var(--light);
  }

  & .menuDroper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    list-style: none;
    background-color: var(--secondary);
    padding: 0.5rem;
    margin: 0;
    border-radius: 0 0 0 8px;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  & .menuDroper.open {
    transform: translateX(0);
  }

  & .menuDroper > li > a,
  & .menuDroper > li > button,
  & .menuDroper > button {
    position: relative;
    color: var(--light);
    gap: 1rem;
    cursor: pointer;
    display: block;
    padding-left: 7rem;
    transition: color 0.3s ease, font-weight 0.3s ease;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 1.2rem;
  }

  & .menuDroper > li > a:hover,
  & .menuDroper > li > a.active,
  & .menuDroper > li > button:hover,
  & .menuDroper > li > button.active,
  & .menuDroper > button:hover,
  & .menuDroper > button.active {
    font-weight: bold;
  }

  & .menuDroper > li > a.active::before,
  & .menuDroper > li > button.active::before,
  & .menuDroper > button.active::before {
    content: "▶";
    position: relative;
    left: -1rem;
    transition: opacity 0.3s ease;
  }

  & .menuDesktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burgerContainer,
  .burgerButton {
    display: none;
  }

  .LogoApp {
    width: 10rem;
    margin: 1rem;
    object-fit: contain;
  }

  .menuDesktop {
    display: block;
  }

  .menuDesktop {
    display: flex;
    list-style: none;
    margin: 0.5rem 1.5rem 0 0;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    & button {
      background: none;
      font-weight: bold;
    }
  }

  .menuDesktop > a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1080px) {
  .menuDesktop {
    gap: 2rem;
    cursor: pointer;
  }
}
