.dialog_signup {
  background: none;
  margin: 0 auto;
  border: none;
  animation: openModal 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: -1rem;
  z-index: 20;
  & .opening_register {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    width: 70vw;
    height: 80vh;
    top: 10vh;
    padding: 1rem;
    position: relative;
    z-index: 21;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;

    & p {
      text-align: left;
    }

    & .space_choice {
      margin-bottom: 2rem;
    }

    & label {
      margin-top: 1rem;
    }

    & .light-box {
      margin-bottom: 2rem;
      transition: all 0.3s ease;
    }

    & .light-box:active {
      color: var(--light);
      background-color: var(--secundary);
      transform: scale(0.95);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    & .light-box:focus {
      outline: none;
      color: var(--light);
      background-color: var(--secundary);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    & .register_content {
      display: flex;
      margin-top: 3rem;
      gap: 2rem;
      font-size: .8rem;
    }

    & input {
      padding: 0.6rem;
      border-radius: 8px;
      border: var(--tertiary) 1px solid;
      position: relative;
    }
    & div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    & .password_input {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      margin: 0;
      border: var(--tertiary) 1px solid;
      border-radius: 8px;
      overflow: hidden;

      & .input_password {
        flex: 1;
        border: none;
        padding: 0.6rem;
        font-size: inherit;
      }

      & .show_password {
        display: flex;
        background: none;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
        font-size: inherit;
      }
    }

    & .register_text {
      text-align: center;
    }

    & .register_button {
      margin-bottom: 2rem;
    }
    & .candidate_form {
      display: flex;
      flex-direction: column;
    }
    & .checkbox {
      display: flex;
      gap: 1rem;
      margin: 1rem 0 1rem 0;
    }
    & .star {
      color: red;
      font-size: 0.8rem;
    }
    & input {
      margin-bottom: 1rem;
    }
  }
}

.dialog_signup[open]::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 19;
}

.dialog_signup:not([open]) {
  display: none;
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .dialog_signup {
    display: flex;
    flex-direction: column;
    width: 90vw;
    & .opening_register {
      & p {
        color: var(--brown);
      }
      & .cancel-box {
        align-self: center;
        width: 100%;
      }
      & .colored-box {
        align-self: center;
        width: 100%;
      }
      & .password_input {
        height: 2.262rem;

        & .input_password {
          height: 2.262rem;
        }
      }
      & .input_password {
        flex: 1;
        border: none;
        padding: 0.6rem;
        font-size: inherit;
      }
    }
  }
}
